.section-about{
    height: 100vh;
    background-color: var(--backgroundcolor);
}

.about{
    background-image: url(../../../assets/images/landingPage/about-bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 4% 8%; 
    height: 100%;
    width: 100%;
}

.about .title{
    text-align: center;
    font-size: 6rem;
    
}

.about .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .content .text h3{
    font-size: 4rem;
    padding: 3% 0;
}
.about .content .text p{
    font-size: 1.3rem;
}