.contact{
    /*height: 100vh;*/
    padding: 6% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact form{
    width: 50%;
    height: 70vh;
    text-align: left;
    background-color: white;
    margin:2%;
    padding: 2rem 9rem;
    border: .1rem solid;
    border-color: rgb(218, 216, 216);
    border-radius: 2%;
    box-shadow: 0 0 2rem .5rem rgb(211, 210, 210);    
   
}

.contact form h3{
    font-size: 4rem;
    text-align: left;

}



.contact form input{
    padding: 1rem;
    margin: 1rem;
    border: .1rem solid;
    border-color: rgb(221, 221, 221);
    border-radius: .5rem;
    width: 100%;

}

.contact img{
    width: 80vh;

}


@media (max-width:1200px) {
    .contact {
        flex-direction: column;
    }
    .contact img{
        width: 70vh;
    }
}


@media (max-width:500px) {
    .contact{
        /*height: 100vh;*/
        padding: 1% 2%;
    }
    
    .contact img{
        width: 50vh;
    }
    .contact form{
        padding: .1rem;
        margin: .1rem;
    }
}